
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  

</head>



<style>
    .navbar-custom {
        background-color: #004a7c;
    }

    .navbar-custom .navbar-brand, 
    .navbar-custom .nav-link {
        color: white;
    }

    .btn-custom {
        background-color: #004a7c;
        color: white;
    }
</style>

<body>






<!-- Main Dashboard-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CE Tracker</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .container {
            text-align: center;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 0 auto;
            max-width: 400px;
            margin-top: 50px;
        }

        h1 {
            color: #004a7c
            font-size: 1.3em;
            margin-bottom: 15px;
        }

        h2 {
            color: #333;
            font-size: 1.1em;
            margin: 15px 0;
        }

        .button-container {
            margin-top: 30px;
        }

        .login-button, .signup-button {
            background-color: #004a7c;
            color: #fff;
            border: none;
            padding: 12px 24px;
            margin: 10px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s ease;
        }

        .login-button:hover, .signup-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to CE Tracker</h1>
        <h2>Your One-Stop Solution for Managing Continuing Education Credits</h2>
        <h2>Discover the Easiest Way to Keep Track of Your Education Progress</h2>
        <div class="button-container">
            <a href="/login">
                <button class="login-button">Login</button>
            </a>
            <a href="/users/new">
                <button class="signup-button">Sign Up</button>
            </a>
        </div>
    </div>
</body>
</html>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
