
<%= stylesheet_link_tag 'credits.css' %>
<div class="credits-container">
    <h1>Edit Credit Type</h1>

    <%= render 'form' %>
    <div>
       <%= link_to "Cancel", dashboard_path , class: "btn btn-primary" %>
    </div>
</div>