
<%= stylesheet_link_tag 'credits.css' %>
<div class="credits-container">
  <h1>Add New credit type </h1>

  <%= render 'form' %>
  <br>

  <div>
    <%= link_to "Cancel", dashboard_path, class: "btn btn-primary" %>
  </div>
</div>