
<%= stylesheet_link_tag 'credits.css' %>
<div class="credits-container">
  <h1>Add New credit type </h1>

  <%= render 'form' %>
  <br>

  <div>
    <%= link_to "Cancel", dashboard_path, class: "btn btn-primary" %>
  </div>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</div>