Hi <%= @user.email %>

<!DOCTYPE html>
<html lang="en">

<body>
  
    <table class="styled-table">
    <thead>
        <tr>
            <th>Credit Type</th>
            <th>Total Credits</th>
        </tr>
    </thead>
    <tbody>
        <% @credit_totals.each do |credit_type, total_credits| %>
        <tr>
            <td><%= credit_type %></td>
            <td><%= total_credits %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
</body>
</html>

